<div class="column is-3 product-list-item">
	<div class="card is-boxed">
		<div class="card-image">
			<figure class="image is-4by3 mb-4">
				<img src="{{ product.get_thumbnail }}" />
			</figure>
		</div>
		<div class="card-content">
			<div class="media">
				<div class="media-content">
					<h2 class="subtitle">{{ product.title }}</h2>
					<h3 class="price is-size-6 mb-5">${{ product.price }}</h3>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="card-footer-item">
				<a
					href="{% url 'product' product.category.slug product.slug %}"
					class="button is-success"
					>View</a
				>
			</div>
		</div>
	</div>
</div>
