{% extends 'base.html' %}
<div>{% block title %}Welcome{% endblock title %}</div>
<div>
	{% block content %}
	<section class="hero is-success mb-6">
		<div class="hero-body has-text-centered">
			<p class="title mb-6">Welcome to E-commerce</p>
			<p class="subtitle">lorem ipsum dolor amet.</p>
		</div>
	</section>
	<div class="columns is-multiline mb-6">
		<div class="column is-12 has-text-centered mt-6 mb-6">
			<h2 class="is-size-3">Newest Products</h2>
		</div>
		{% for product in newest_products %} {% include 'products/list.html' %}
		<br />
		{% endfor %}
	</div>
	{% endblock content %}
</div>
